.bounds {
  box-sizing: border-box;

  height: calc(100% - var(--navbar-desktop-height));
}

#photo-sidenav {
  flex: 0 20%;
  background-color: rgb(135, 135, 135);
  min-width: 265px;

  & { // ?Test (Remove)
    border: 1px solid red;
  }
}
#main-view {
  flex: 1 80%;
  background-color: rgb(192, 192, 192);

  & { // ?Test Border
    border: 1px solid red;
  }
}

// Mobile Devices
@media (max-width: 768px) {
  .bounds {
    height: calc(100% - var(--navbar-mobile-height)); // Nav shrinks a little bit on mobile devices
  }
}
